:root {
  --fav-darkgreen: #004d00;
  --fav-lightgreen: #CADFCE;
}
img.sponsor-logo {
  margin: 10px 20px;
}

h2 {
  clear: both;
}
h3 {
  clear: both;
}
span.glance-blurb {
  color: darkolivegreen;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
}
td.glance-date {
  font-weight: bold;
  background-color: LightGray;
}
td.glance-title {
  font-weight: bold;
}
td.glance-time {
  width: 8em;
}

td.glance-track-title {
  font-weight: bold;
  font-style: italic;
  background-color: var(--fav-lightgreen);
}

td.glance-track-end {
  background-color: var(--fav-lightgreen);
}

tr.glance-track-tr {
  line-height: 3px;
}

.section.level2.track > h2 {
  background-color: var(--fav-lightgreen);
  padding: 0.2em;
  text-align: center;
  font-size: 70%;
}
div.tags {
  color: white; 
  font-size: 80%;   /* 0.9rem */
  font-family:Verdana, Geneva, sans-serif;
  margin-bottom: -2.7em;
  
}
span.dayofweek {
  border-radius: 3px;
  padding: 4px;
  margin-right: 1em;
}

span.open {
  border-radius: 3px;
  padding: 4px;
  margin-right: 1em;
  background-color: #800080;  /* dark purple */
}

span.open:after {
  content: 'Open Session';
}


span.hands-on {
  border-radius: 3px;
  padding: 4px;
  margin-right: 1em;
  background-color: #006600;  /* dark green */
}

span.hands-on:after {
  content: 'Hands-on';
}


span.marine {
  border-radius: 3px;
  padding: 4px;
  margin-right: 1em;
  background-color: royalblue;  /* royal blue */
}

span.marine:after {
  content: 'Marine & Coastal';
}

span.higher-ed {
  border-radius: 3px;
  padding: 4px;
  margin-right: 1em;
  background-color: sienna;  /* sienna (brown) */
}

span.higher-ed:after {
  content: 'Higher Ed';
}


div.trackend {
  background-color: var(--fav-lightgreen);
  height: 14px;
  margin-bottom: 3em;
}

p.timezone {
  font-style: italic;
  font-size: 90%;
}

p.daytag {
  font-weight: 600;
  color: darkolivegreen;
  font-style: italic;
  font-size: 110%;
}

h2 > span.time {
  color: dimgray;
  font-size:80%;
}
hr.full {
  clear: both;
  border-top: 1px solid lightgray;
}

hr.quarter {
  clear: both;
  border-top: 1px solid gray;
  width: 300px;
  margin: 0;
}

.indented1 {
  margin-left:1em;
}
.indented2 {
  margin-left:2em;
}
.indented4 {
  margin-left:4em;
}
td.appicon {
  vertical-align: top;
  width: 80px;
}
td.appdesc {
  vertical-align: top;
  text-align: left;
  border-style:none;
}

/* NOT USED BUT GENERALLY USEFUL */

.goright {
  float:right;
}
div.gomiddle {
  float:right;
  vertical-align: middle;
  text-align: left;
  border: 1px solid blue;
}
.midline {
  vertical-align:middle;
  padding: 2em 2em 1em;
}
span.authoremail:before {
  content: '(andlyons@ucanr.edu)';
  text-decoration: underline;
  text-decoration-style: dotted;
  color:DarkBlue;
  cursor: pointer;  
}


/* ARCHIVED 

div.workshop {
  padding: 5px 0;
  display: inline-block;
  position:relative;
  font-size: 1.1em;
}

div.workshop:before{
  content:"";
  width:250px;
  height:2px;
  left:0;
  top:0;
  position:absolute;
  z-index:9;
  background-color: lightgray;
}

*/

