h2{
  padding: 5px 0;
  display: inline-block;
  position:relative;
  font-size: 1.1em;
}

h2:before{
  content:"";
  width:250px;
  height:2px;
  left:0;
  top:0;
  position:absolute;
  z-index:9;
  background-color: lightgray;
}
h2 > span.time {
  color: dimgray;
  font-size:80%;
}

.indented1 {
  margin-left:1em;
}
.indented2 {
  margin-left:2em;
}
.indented4 {
  margin-left:4em;
}
td.appicon {
  vertical-align: top;
  width: 80px;
}
td.appdesc {
  vertical-align: top;
  text-align: left;
  border-style:none;
}
.goright {
  float:right;
}
div.gomiddle {
  float:right;
  vertical-align: middle;
  text-align: left;
  border: 1px solid blue;
}
.midline {
  vertical-align:middle;
  padding: 2em 2em 1em;
}
span.authoremail:before {
  content: '(andlyons@ucanr.edu)';
  text-decoration: underline;
  text-decoration-style: dotted;
  color:DarkBlue;
  cursor: pointer;  
}

