img.sponsor-logo {
  margin: 10px 20px;
}

h2 {
  clear: both;
}
span.glance-blurb {
  color: dimgray;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
}
td.glance-date {
  font-weight: bold;
  background-color: LightGray;
}
td.glance-title {
  font-weight: bold;
}
td.glance-time {
  width: 8em;
}

td.glance-track-title {
  font-weight: bold;
  font-style: italic;
  background-color: #cadfce;
}

td.glance-track-end {
  background-color: #cadfce;
}

tr.glance-track-tr {
  line-height: 3px;
}

.section.level2.track > h2 {
  background-color: #cadfce;
  padding: 0.2em;
  text-align: center;
  font-size: 70%;
}

p.trackend {
  background-color: #cadfce;
  height: 18px;
}

p.timezone {
  font-style: italic;
  font-size: 90%;
}

h2 > span.time {
  color: dimgray;
  font-size:80%;
}
hr.full {
  clear: both;
  border-top: 1px solid lightgray;
}

hr.quarter {
  clear: both;
  border-top: 1px solid gray;
  width: 300px;
  margin: 0;
}

.indented1 {
  margin-left:1em;
}
.indented2 {
  margin-left:2em;
}
.indented4 {
  margin-left:4em;
}
td.appicon {
  vertical-align: top;
  width: 80px;
}
td.appdesc {
  vertical-align: top;
  text-align: left;
  border-style:none;
}

/* NOT USED BUT GENERALLY USEFUL */

.goright {
  float:right;
}
div.gomiddle {
  float:right;
  vertical-align: middle;
  text-align: left;
  border: 1px solid blue;
}
.midline {
  vertical-align:middle;
  padding: 2em 2em 1em;
}
span.authoremail:before {
  content: '(andlyons@ucanr.edu)';
  text-decoration: underline;
  text-decoration-style: dotted;
  color:DarkBlue;
  cursor: pointer;  
}


/* ARCHIVED 

div.workshop {
  padding: 5px 0;
  display: inline-block;
  position:relative;
  font-size: 1.1em;
}

div.workshop:before{
  content:"";
  width:250px;
  height:2px;
  left:0;
  top:0;
  position:absolute;
  z-index:9;
  background-color: lightgray;
}

*/

